root = true

[*]
end_of_line = LF
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_size = 2

# Batch files
[*.{bat,cmd}]
end_of_line = CRLF
indent_style = tab

# C
[*.{c,h}]
indent_size = 4
indent_style = tab
indent_size = 4

# Go
[*.go]
indent_style = tab
indent_size = 4

# HTML
[*.html]
indent_style = space
indent_size = 2

# JavaScript
[*.{js,cjs,mjs,jsx}]
indent_style = space
indent_size = 2

# JSON (and with comments)
[*.{json,jsonc}]
indent_style = space
indent_size = 2

# Lua
[*.lua]
indent_style = space
indent_size = 2

# Makefile
[Makefile]
indent_style = tab
indent_size = 8
indent_size = 4

# PowerShell
[*.ps1]
end_of_line = CRLF
indent_style = space
indent_size = 4

# Python
[*.py]
indent_style = space
indent_size = 4

# Ruby
[*.rb]
indent_style = space
indent_size = 2

# Rust
[*.rs]
indent_style = space
indent_size = 4

# Shell
[*.{sh,bash}]
indent_style = tab
indent_size = 2

# TypeScript
[*.{ts,tsx}]
indent_style = space
indent_size = 2

# YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 2
